# Dependency directories
node_modules/

# System files
.DS_Store

# Development configurations
.vscode/
.eslintrc.json

# Secrets
.env.js
data/*/*.json
data/digests/*.html
data/temp/

# Deployment configurations (comment out for the applicable deployment repository)
jenkins/
Dockerfile
data/*/*.xml
