*:focus {
  outline: solid 0.2rem #00f;
  outline-offset: 0.2rem;
}
body {
  margin: 2rem;
  font-size: large;
}
button {
  min-height: 44px;
  min-width: 44px;
  padding: 0.5rem;
  border: solid 0.2rem #03a;
  border-radius: 1rem;
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  background-color: #03a;
}
button:hover {
  color: #000;
  background-color: #9df;
}
caption {
  margin: 1rem 0;
  font-weight: bold;
  font-style: italic;
}
.error {
  font-weight: 700;
  color: #c00;
}
form {
  margin-top: 1rem;
}
h2 {
  margin: 1rem auto 0.5rem auto;
  color: #006666;
}
section:not(.wide) {
  max-width: 36rem;
}
input {
  margin: 0.5rem 0;
  font-size: inherit;
}
